.content {
    display: flex;
    gap: 50px;
}

.charterContent {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style-type: none;
    font-size: 20px;
}

.title {
    text-align: left;
}

.li {
    padding: 2px 0px;
}

.alphaUpper {
    padding: 5px 0px 80px 45px;
    list-style-type: upper-alpha;
}

.number {
    padding: 5px 0px 20px 30px;
    list-style-type: decimal;
}

.alphaLower {
    padding: 5px 0px 10px 30px;
    list-style-type: lower-alpha;
}

.romanLower {
    padding: 5px 0px 10px 30px;
    list-style-type: lower-roman;
}

.hyphen {
    padding: 5px 0px 10px 30px;
    list-style-type: "- ";
}

.nonList {
    padding: 5px 0px 10px 30px;
}

@media screen and (max-width: 1280px) {
    .charterContent {
        font-size: 18px;
    }
}
@media screen and (max-width: 1024px) {
    .title {
        text-align: center;
    }
    .charterContent {
        font-size: 16px;
    }

    .alphaUpper {
        padding: 5px 0px 100px 30px;
    }

    .number {
        padding: 5px 0px 20px 20px;
    }

    .alphaLower {
        padding: 5px 0px 10px 20px;
    }

    .romanLower {
        padding: 5px 0px 10px 20px;
    }

    .hyphen {
        padding: 5px 0px 10px 20px;
    }

    .nonList {
        padding: 5px 0px 10px 20px;
    }
}
@media screen and (max-width: 768px) {
    .charterContent {
        font-size: 14px;
    }

    .alphaUpper {
        padding: 5px 0px 100px 20px;
    }

    .number {
        padding: 5px 0px 20px 15px;
    }

    .alphaLower {
        padding: 5px 0px 10px 15px;
    }

    .romanLower {
        padding: 5px 0px 10px 15px;
    }

    .hyphen {
        padding: 5px 0px 10px 15px;
    }

    .nonList {
        padding: 5px 0px 10px 15px;
    }
}
@media screen and (max-width: 640px) {
    .charterContent {
        font-size: 12px;
    }
}
